* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, rgba(247, 228, 198, 1) 0%, rgba(250, 185, 185, 1) 100%);
  ;
  color: rgb(94, 31, 68);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: rgb(94, 31, 68);
  background: rgb(247, 238, 243);
  cursor: pointer;
  transition: all 0.3s ease;
}

form input:focus {
  outline: none;
}

form button:hover {
  background: #d6aeae;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-name {
  min-width: 30%;
  list-style: none;
}

.task {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-button {
  padding: 1rem;
}

.task p {
  flex: 1;
}

.delete-button,
.check-button {
  background: #643939;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.check-button {
  background: rgb(87, 179, 151);
}

.task-text {
  min-width: 15rem;
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check,
.fa-times {
  pointer-events: none;
}

.fa-times{
  padding: 0 0.15rem;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select-container {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #424141;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  height: 3.3rem;
}

/* Arrow */
.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.05rem;
  background: rgb(247, 238, 243);
  cursor: pointer;
  pointer-events: none;
}

.select-container:hover::after {
  background: #d6aeae;
  color: white;
}

/* Transition */
/*
.select-container:hover::after {
  transform: scale(1.5);
}
*/

.red-button {
  background-color: #a73636;
}